<div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>始发地:</strong>
      <%= @line.place %>
    </p>

    <p>
      <strong>目的地:</strong>
      <%= @line.destination %>
    </p>
  <p>
    <strong>单据前缀:</strong>
    <%= @line.prefix %>
  </p>


    <%= link_to '编辑', edit_line_path(@line) %> |
    <%= link_to '返回', lines_path %>
</div>