<%= form_for(@depart) do |f| %>
  <% if @depart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@depart.errors.count, "error") %> prohibited this depart from being saved:</h2>

      <ul>
      <% @depart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '配车时间' %><br>
    <%= f.date_select :departureTime %>
  </div>

  <div class="field">
    <%= f.label '线路' %><br>
    <%= f.select :line_id, Line.where(:company_id=>current_user.company_id).all.collect{ |l| [l.place+'---'+l.destination,l.id] } %>
  </div>
  <div class="field">
    <%= f.label :车辆 %><br>
    <%= f.select :truck_id, Truck.where(:company_id=>current_user.company_id).all.collect{ |t| [t.driver+'---'+t.licensePlateNumber,t.id] } %>
  </div>
    <div class="field">
      <%= f.label '是否发车' %><br>
      <%= f.check_box :status %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
