<p id="notice"><%= notice %></p>

<h1>Listing Departs</h1>

<table>
  <thead>
    <tr>
      <th>Departuretime</th>
      <th>Destination</th>
      <th>Place</th>
      <th>Status</th>
      <th>Truck</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departs.each do |depart| %>
      <tr>
        <td><%= depart.departureTime %></td>
        <td><%= depart.destination_id %></td>
        <td><%= depart.place_id %></td>
        <td><%= depart.status %></td>
        <td><%= depart.truck_id %></td>
        <td><%= link_to 'Show', depart %></td>
        <td><%= link_to 'Edit', edit_depart_path(depart) %></td>
        <td><%= link_to 'Destroy', depart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depart', new_depart_path %>
