<div class="container">
<p id="notice"><%= notice %></p>

<h1></h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th>配车时间</th>
      <th>线路</th>
      <th>是否出发</th>
      <th>车辆信息</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @departs.each do |depart| %>
      <tr>
        <td><%= depart.departureTime %></td>
        <td><%= depart.line_id %></td>
        <td><%= depart.status %></td>
        <td><%= depart.truck_id %></td>
        <td><%= link_to '查看', depart %></td>
        <td><%= link_to '编辑', edit_depart_path(depart) %></td>
        <td><%= link_to '删除', depart, method: :delete, data: { confirm: '确认删除吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '车辆入库', new_depart_path %>
</div>