<div class="container">
<p id="notice"><%= notice %></p>

<h1></h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th>入库时间</th>
      <th>线路</th>
      <th>是否发车</th>
      <th>车辆信息</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @departs.each do |depart| %>
      <tr>
        <td><%= depart.departureTime %></td>
        <td><%= depart.line_id %></td>
        <td><%= link_to '发车', depart %></td>
        <td><%= depart.truck_id %></td>
        <td><%= link_to 'Show', depart %></td>
        <td><%= link_to 'Edit', edit_depart_path(depart) %></td>
        <td><%= link_to 'Destroy', depart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '车辆入库', new_depart_path %>
</div>