<div class="container">
<p id="notice"><%= notice %></p>

<h1>车辆管理</h1>

<table class="table">
  <thead>
    <tr>
      <th>司机</th>
      <th>电话</th>
      <th>车牌号码</th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.driver %></td>
        <td><%= truck.phone %></td>
        <td><%= truck.licensePlateNumber %></td>
        <td><%= link_to '查看', truck %></td>
        <td><%= link_to '入库', truck %></td>
        <td><%= link_to 'Edit', edit_truck_path(truck) %></td>
        <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增车辆', new_truck_path %>
</div>