<p id="notice"><%= notice %></p>

<p>
  <strong>Loginname:</strong>
  <%= @user.loginname %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @user.auth_token %>
</p>

<p>
  <strong>Isresponsible:</strong>
  <%= @user.isresponsible %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Hasline:</strong>
  <%= @user.hasline %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
