

<div class="container">
  <% if !current_user %>
  <h1><%= link_to '注册一个账号，快乐的管理货运单吧^_^',regent_path %></h1>
  <% elsif !current_user.company_id %>
  <h1>还没有公司，赶紧在管理中心写上公司名字开展业务吧^_^</h1>
  <% elsif Company.find(current_user.company_id).lines.count ==0 %>
  <h1>还没有线路，添加线路</h1>
  <% else %>
      <div class="row">
        <div class="col-xs-6">
          <% @lines.each  do |line| %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              未装车运输单 <div class="pull-right"><%= line.place%>--<%= line.destination%></div>
            </div>
            <div class="panel-body">
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-6">
          <% @lines.each  do |line| %>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  已入库车辆--<%= line.place%>--<%= line.destination%>
                </div>
                <div class="panel-body">
                </div>
              </div>
          <% end %>
        </div>

      </div>
  <% end %>

</div>