<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Paymentmethods</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @paymentmethods.each do |paymentmethod| %>
      <tr>
        <td><%= paymentmethod.name %></td>
        <td><%= link_to '查看', paymentmethod %></td>
        <td><%= link_to '编辑', edit_paymentmethod_path(paymentmethod) %></td>
        <td><%= link_to '删除', paymentmethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '添加新的收费方式', new_paymentmethod_path %>
</div>