<p id="notice"><%= notice %></p>

<h1>Listing Paymentmethods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paymentmethods.each do |paymentmethod| %>
      <tr>
        <td><%= paymentmethod.name %></td>
        <td><%= paymentmethod.company_id %></td>
        <td><%= link_to 'Show', paymentmethod %></td>
        <td><%= link_to 'Edit', edit_paymentmethod_path(paymentmethod) %></td>
        <td><%= link_to 'Destroy', paymentmethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paymentmethod', new_paymentmethod_path %>
