<%= form_for(@waybillorder) do |f| %>
  <% if @waybillorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waybillorder.errors.count, "error") %> prohibited this waybillorder from being saved:</h2>

      <ul>
      <% @waybillorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :orderNum %>
    <%= f.text_field :orderNum %>
  </div>-->
  <div class="field">
    <%= f.label :货物名称 %>
    <%= f.text_field :googsName1 %>
    <%= f.label :件数 %>
    <%= f.number_field :number1 %>
    <%= f.label :重量 %>
    <%= f.text_field :weight1 %>
    <%= f.label :体积 %>
    <%= f.text_field :volume1 %>
  </div>
    <a  role="button" data-toggle="collapse" href="#moregoods" aria-expanded="false" aria-controls="moregoods">
      更多货物
    </a>
    <div class="collapse" id="moregoods">
    <div class="field">
      <%= f.label :货物名称 %>
      <%= f.text_field :googdName2 %>
      <%= f.label :件数 %>
      <%= f.number_field :number2 %>
      <%= f.label :重量 %>
      <%= f.text_field :weight2 %>
      <%= f.label :体积 %>
      <%= f.text_field :volume2 %>
    </div>
    <div class="field">
      <%= f.label :货物名称 %>
      <%= f.text_field :goodsName3 %>
      <%= f.label :件数 %>
      <%= f.number_field :number3 %>
      <%= f.label :重量 %>
      <%= f.text_field :weight3 %>
      <%= f.label :体积 %>
      <%= f.text_field :volume3 %>
    </div>
    </div>
    <div class="field">
      <%= f.label :托运人 %>
      <%= f.number_field :consignor_id %>
      <%= f.label :收货人 %>
      <%= f.number_field :consignee_id %>
    </div>
    <div class="field">
      <%= f.label :运费 %>
      <%= f.number_field :freightCost %>
    </div>
    <a  role="button" data-toggle="collapse" href="#moreCost" aria-expanded="false" aria-controls="moreCost">
      其他费目
    </a>
  <div class="collapse" id="moreCost">
      <div class="field">
    <%= f.label :提货费 %>
    <%= f.number_field :deliverCost %>
    <%= f.label :送货费 %>
    <%= f.number_field :acceptCost %>
    <%= f.label :打包费 %>
    <%= f.number_field :packingCost %>
  </div>
      <div class="field">
      <%= f.label :其他费用 %>
      <%= f.number_field :otherCost %>
    </div>
  </div>
    <br>
   <a role="button" data-toggle="collapse" href="#Transfer" aria-expanded="false" aria-controls="Transfer">
     中转明细
    </a>


    <div class="collapse" id="Transfer">
      <div class="field">
        <%= f.label :是否中转 %>
        <%= f.check_box :isTransfer %>
        <%= f.label :中转费用 %>
        <%= f.number_field :transferCost %>
        <%= f.label :中转地 %>
        <%= f.text_field :transferDestintion %>
      </div>
    </div>
    <br>
    <a role="button" data-toggle="collapse" href="#insurance" aria-expanded="false" aria-controls="insurance">保险</a>
    <div class="collapse" id="insurance">
    <div class="field">
    <%= f.label :声明价值 %>
    <%= f.number_field :ThatValue %>
    <%= f.label :保险费 %>
    <%= f.number_field :insuranceCost %>
    </div>
    </div>
  <div class="field">
    <%= f.label :代收货款 %>
    <%= f.number_field :proxycollection %>
  </div>


  <div class="field">
    <%= f.label :路线 %>
    <%= f.select  :line_id ,Line.where(:company_id=>current_user.company_id).all.collect{ |l| [l.place+'--'+l.destination,l.id] } %>
    <%= f.label :跟随车辆 %>
    <%= f.number_field :truck_id %>
  </div>
    <div class="field">
      <%= f.label :付款方式 %>
      <%= f.select :paymentmenthod_id, Paymentmethod.where(:company_id=>current_user.company_id).all.collect{ |p| [p.name,p.id] } %>
      <%= f.label :总计 %>
      <%= f.number_field :total, :readonly => true%>
    </div>

  <div class="actions">
    <%= f.submit :value=>'开单',:class=>'btn btn-danger' %>
  </div>
<% end %>
