

<%= form_for(@waybillorder,html: {class: "form-inline"})  do |f|  %>
  <% if @waybillorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waybillorder.errors.count, "error") %> prohibited this waybillorder from being saved:</h2>

      <ul>
      <% @waybillorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!--<div class="field">
    <%= f.label :orderNum %>
    <%= f.text_field :orderNum %>
  </div>-->
    <div class="form-group">
      <%= f.label :路线 %>
      <%= f.select  :line_id ,@lines.collect{
                                     |l| [l.place+'---'+l.destination,l.id]
                             },{},:class=>'form-control'%>
      <%= f.label :跟随车辆 %>
      <%= f.select :truck_id ,@departs.collect{
                                     |d| [d.truck.licensePlateNumber,d.id]
                             } , { include_blank: "请选择" },:class=>'form-control'%>
    </div>
    <hr>
  <div class="form-group">
    <%= f.label :货物名称 %>
    <%= f.text_field :googsName1,:class=>"form-control" %>
    <%= f.label :件数 %>
    <%= f.number_field :number1,:class=>"form-control" %>
    <%= f.label :重量 %>
    <%= f.text_field :weight1 ,:class=>"freight",:class=>"form-control" %>
    <%= f.label :体积 %>
    <%= f.text_field :volume1  ,:class=>"freight",:class=>"form-control"%>
  </div>
  <div>
    <a  class="btn btn-primary" role="button" data-toggle="collapse" href="#moregoods" aria-expanded="false" aria-controls="moregoods">
      更多货物
    </a>
    </div>

    <div class="collapse " id="moregoods">
      <div class="form-group">
        <%= f.label :货物名称 %>
        <%= f.text_field :googdName2,:class=>"form-control" %>
        <%= f.label :件数 %>
        <%= f.number_field :number2,:class=>"form-control" %>
        <%= f.label :重量 %>
        <%= f.text_field :weight2  ,:class=>"freight form-control"%>
        <%= f.label :体积 %>
        <%= f.text_field :volume2 ,:class=>"freight form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :货物名称 %>
        <%= f.text_field :goodsName3,:class=>"form-control" %>
        <%= f.label :件数 %>
        <%= f.number_field :number3,:class=>"form-control" %>
        <%= f.label :重量 %>
        <%= f.text_field :weight3 ,:class=>"freight form-control" %>
        <%= f.label :体积 %>
        <%= f.text_field :volume3  ,:class=>"freight form-control"%>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :托运人 %>
      <%= f.select :consignor_id,@consignors.collect{
                     |c| [c.name,c.id]
                                }, { include_blank: "请选择" },:class=>'combobox form-control' %>
      <%= f.label :收货人%>
      <%= f.select :consignee_id,@consignees.collect{
                     |c| [c.name,c.id,html_options={data:{WeightPrice:c.weight,volumePrice:c.volume}}]
                                } , { include_blank: "请选择" },:class=>'combobox form-control'%>
      <%= f.label :运费 %>
      <%= f.number_field :freightCost ,:class=>'Cost form-control'%>
      <br>

     <%= link_to '新增托运人', new_consignor_path,remote:true%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
      <%= link_to '新增托运人', new_consignee_path,remote:true%>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#moreCost" aria-expanded="false" aria-controls="moreCost">
      其他费目
    </a>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#Transfer" aria-expanded="false" aria-controls="Transfer">
      中转明细
    </a>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#insurance" aria-expanded="false" aria-controls="insurance">
      保险
    </a>
    <br>
    <br>
    <div class="collapse" id="Transfer">
      <div class="form-group" >
        <%= f.label :是否中转 %>
        <%= f.check_box :isTransfer %>
        <%= f.label :中转费用 %>
        <%= f.number_field :transferCost ,:class=>'Cost form-control'%>
        <%= f.label :中转地 %>
        <%= f.text_field :transferDestintion,:class=>'form-control' %>
      </div>
    </div>
    <div class="collapse" id="moreCost">
      <div class="form-group">
        <%= f.label :提货费 %>
        <%= f.number_field :deliverCost,:class=>'Cost form-control' %>
        <%= f.label :送货费 %>
        <%= f.number_field :acceptCost,:class=>'Cost form-control' %>
        <%= f.label :打包费 %>
        <%= f.number_field :packingCost,:class=>'Cost form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :其他费用 %>
        <%= f.number_field :otherCost ,:class=>'Cost form-control'%>
      </div>
    </div>
    <div class="collapse" id="insurance">
      <div class="form-group">
      <%= f.label :声明价值 %>
      <%= f.number_field :ThatValue,:class=>'form-control' %>
      <%= f.label :保险费 %>
      <%= f.number_field :insuranceCost,:class=>'Cost form-control' %>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <%= f.label :付款方式 %>
      <%= f.select :paymentmenthod_id, Paymentmethod.where(:company_id=>current_user.company_id).all.collect{ |p| [p.name,p.id] } ,{},:class=>'form-control'%>
      <%= f.label :总计 %>
      <%= f.number_field :total, :readonly => true,:class=>'form-control'%>
        <%= f.label :代收货款 %>
        <%= f.number_field :proxycollection,:class=>'form-control' %>
        <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 等通知发货
        </label>
    </div>                                                  

  <div class="actions">
    <%= f.submit :value=>'保存',:class=>'btn btn-danger' %>
  </div>
<% end %>

<script>
$(function(){
    $("#waybillorder_consignee_id").change(countFreight);
    $(".freight").change(countFreight);
    $(".Cost").change(Cost);
    $('.combobox').combobox();
    function countFreight (){
        var waybillorder_weight1 = getNum($("#waybillorder_weight1").val());
        var waybillorder_volume1 = getNum($("#waybillorder_volume1").val());
        var waybillorder_weight2 = getNum($("#waybillorder_weight2").val());
        var waybillorder_volume2 = getNum($("#waybillorder_volume2").val());
        var waybillorder_weight3 = getNum( $("#waybillorder_weight3").val());
        var waybillorder_volume3 = getNum($("#waybillorder_volume3").val());
        var weight = $("#waybillorder_consignee_id").find("option:selected").attr("data-weightprice");
        var volume = $("#waybillorder_consignee_id").find("option:selected").attr("data-volumeprice");
        var cost1= Math.floor((waybillorder_weight1+waybillorder_weight2+waybillorder_weight3) * weight);
        console.log((waybillorder_volume1+waybillorder_volume2+waybillorder_volume3));
        var cost2= Math.floor((waybillorder_volume1+waybillorder_volume2+waybillorder_volume3) * volume);
        if(cost1>cost2)
        {
            $("#waybillorder_freightCost").val(cost1);
        }
        else
        {
            $("#waybillorder_freightCost").val(cost2);
        }

        $(".Cost").change();
    }

    function Cost()
    {
        var count = 0;
          $(".Cost").each(function(i,x){
             count+=parseInt(getNum($(x).val()));
              console.log(count);
          })
        $("#waybillorder_total").val(count);
    }
    function getNum(str)
    {
        return str==""?0:parseFloat(str);
    }

})
</script>
