

<style>
  td{
      text-align: center;
  }
</style>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>所有运单</h1>
  <table class="table">
    <thead>
    <tr>
      <th>运单号</th>
      <th>运费</th>

      <th>是否中转</th>
      <th>中转费</th>
      <th>中转地</th>
      <th>其他费用</th>
      <th>总计</th>
      <th>托运人</th>
      <th>收货人</th>
      <th>代收货款</th>
      <th>所跟车辆</th>
      <th>付款方式</th>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
    <% @waybillorders.each do |waybillorder| %>
        <tr>
          <td><%= waybillorder.orderNum %></td>
          <td><%= waybillorder.freightCost %></td>

          <td><%= if  waybillorder.isTransfer then  "是" else "否"  end%></td>
          <td><%= waybillorder.transferCost %></td>
          <td><%= waybillorder.transferDestintion %></td>
          <td><%= waybillorder.otherCost %></td>
          <td><%= waybillorder.total %></td>
          <td><%= Consignor.find(waybillorder.consignor_id).name %></td>
          <td><%= Consignee.find( waybillorder.consignee_id).name %></td>
          <td><%= waybillorder.proxycollection %></td>
          <td><%= Truck.find(waybillorder.truck_id).licensePlateNumber %></td>
          <td><%= Paymentmethod.find(waybillorder.paymentmenthod_id).name %></td>
          <td><%= link_to '打印', print_path(waybillorder) %></td>
          <td><%= link_to '装车', waybillorder %></td>
          <td><%= link_to '查看', waybillorder %></td>
          <td><%= link_to '编辑', edit_waybillorder_path(waybillorder) %></td>
          <td><%= link_to '删除', waybillorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to '开单', new_waybillorder_path %>

</div>

