<div class="container">
<p id="notice"><%= notice %></p>
  <style>
    td{
      font-size: 18px;
    }
  </style>
<table class="table">
  <tbody>
  <tr>
    <td><strong>货运单号:</strong></td>
    <td>  <%= @waybillorder.orderNum %></td>
    <td>  <strong>发往:</strong> </td>
    <td>   <%= @waybillorder.line.destination %></td>
    <td> <strong>发货人:</strong></td>
    <td>  <%= @waybillorder.consignor == nil ?"":@waybillorder.consignor.name %></td>
    <td>  <strong>收货人:</strong></td>
    <td> <%= @waybillorder.consignee== nil ?"":@waybillorder.consignee.name %></td>
  </tr>
  <tr>
    <td>  <strong>货物名称:</strong></td>
    <td>  <%= @waybillorder.googsName1 %></td>
    <td>  <strong>件数:</strong></td>
    <td>  <%= @waybillorder.number1 %></td>
    <td> <strong>体积:</strong></td>
    <td>   <%= @waybillorder.weight1 %></td>
    <td> <strong>重量:</strong></td>
    <td>   <%= @waybillorder.volume1 %></td>
  </tr>
  <% if @waybillorder.googdName2?  %>
  <tr>
    <td>  <strong>货物名称:</strong></td>
    <td>  <%= @waybillorder.googdName2 %></td>
    <td>  <strong>件数:</strong></td>
    <td>  <%= @waybillorder.number2 %></td>
    <td> <strong>体积:</strong></td>
    <td>   <%= @waybillorder.weight2 %></td>
    <td> <strong>重量:</strong></td>
    <td>   <%= @waybillorder.volume2 %></td>
  </tr>
  <% end %>
  <% if @waybillorder.goodsName3?  %>
  <tr>
    <td>  <strong>货物名称:</strong></td>
    <td>  <%= @waybillorder.goodsName3 %></td>
    <td>  <strong>件数:</strong></td>
    <td>  <%= @waybillorder.number3 %></td>
    <td> <strong>体积:</strong></td>
    <td>   <%= @waybillorder.weight3 %></td>
    <td> <strong>重量:</strong></td>
    <td>   <%= @waybillorder.volume3 %></td>
  </tr>
  <% end %>
  <tr>
    <td> <strong>运费:</strong></td>
    <td> <%= @waybillorder.freightCost %></td>
    <td>  <strong>打包费:</strong></td>
    <td>  <%= @waybillorder.packingCost %></td>
    <td> <strong>送货费:</strong></td>
    <td>   <%= @waybillorder.deliverCost %></td>
    <td> <strong>提货费:</strong></td>
    <td>  <%= @waybillorder.acceptCost %></td>
  </tr>
  <tr>

    <td> <strong>是否中转:</strong></td>
    <td> <%= if @waybillorder.isTransfer then '是' else '否' end %></td>
    <td>  <strong>中转费:</strong></td>
    <td> <%= @waybillorder.transferCost %></td>
    <td> <strong>中转目的地:</strong></td>
    <td colspan="3">  <%= @waybillorder.transferDestintion %></td>

  </tr>
  <tr>
    <td>  <strong>其他收费:</strong></td>
    <td>  <%= @waybillorder.otherCost %></td>
    <td>  <strong>代收款:</strong></td>
    <td>  <%= @waybillorder.proxycollection %></td>
    <td>  <strong>付款方式:</strong></td>
    <td colspan="3">   <%= @waybillorder.paymentmethod == nil ?"": @waybillorder.paymentmethod.name %></td>
  </tr>
  <tr>
    <td><strong>声明价值</strong></td>
    <td><%= @waybillorder.ThatValue %></td>
    <td>  <strong>保险费:</strong></td>
    <td>   <%= @waybillorder.insuranceCost %></td>
    <td> <strong>总计:</strong></td>
    <td>  <%= @waybillorder.total %></td>
    <td>  <strong>开票人:</strong></td>
    <td>  <%= @waybillorder.user.loginname %></td>
  </tr>
  </tbody>


</table>




<%= link_to '编辑', edit_waybillorder_path(@waybillorder) %> |
  <%= link_to '打印', print_path(@waybillorder) %> |
<%= link_to '返回', waybillorders_path %>
</div>