<p id="notice"><%= notice %></p>

<p>
  <strong>Ordernum:</strong>
  <%= @waybillorder.ordernum %>
</p>

<p>
  <strong>Goodsname:</strong>
  <%= @waybillorder.goodsname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @waybillorder.number %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @waybillorder.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @waybillorder.volume %>
</p>

<p>
  <strong>Freightcost:</strong>
  <%= @waybillorder.freightCost %>
</p>

<p>
  <strong>Goodsprice:</strong>
  <%= @waybillorder.goodsPrice %>
</p>

<p>
  <strong>Insurancecost:</strong>
  <%= @waybillorder.insuranceCost %>
</p>

<p>
  <strong>Packingcost:</strong>
  <%= @waybillorder.packingCost %>
</p>

<p>
  <strong>Delivercost:</strong>
  <%= @waybillorder.deliverCost %>
</p>

<p>
  <strong>Acceptcost:</strong>
  <%= @waybillorder.acceptCost %>
</p>

<p>
  <strong>Istransfer:</strong>
  <%= @waybillorder.isTransfer %>
</p>

<p>
  <strong>Transfercost:</strong>
  <%= @waybillorder.transferCost %>
</p>

<p>
  <strong>Total:</strong>
  <%= @waybillorder.total %>
</p>

<p>
  <strong>Place:</strong>
  <%= @waybillorder.place_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @waybillorder.destination_id %>
</p>

<p>
  <strong>Consignor:</strong>
  <%= @waybillorder.consignor_id %>
</p>

<p>
  <strong>Consignee:</strong>
  <%= @waybillorder.consignee_id %>
</p>

<p>
  <strong>Proxycollection:</strong>
  <%= @waybillorder.proxycollection %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @waybillorder.truck_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @waybillorder.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @waybillorder.user_id %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @waybillorder.paymentmethod_id %>
</p>

<%= link_to 'Edit', edit_waybillorder_path(@waybillorder) %> |
<%= link_to 'Back', waybillorders_path %>
