<p id="notice"><%= notice %></p>

<p>
  <strong>Ordernum:</strong>
  <%= @waybillorder.orderNum %>
</p>

<p>
  <strong>Googsname1:</strong>
  <%= @waybillorder.googsName1 %>
</p>

<p>
  <strong>Googdname2:</strong>
  <%= @waybillorder.googdName2 %>
</p>

<p>
  <strong>Goodsname3:</strong>
  <%= @waybillorder.goodsName3 %>
</p>

<p>
  <strong>Number1:</strong>
  <%= @waybillorder.number1 %>
</p>

<p>
  <strong>Number2:</strong>
  <%= @waybillorder.number2 %>
</p>

<p>
  <strong>Number3:</strong>
  <%= @waybillorder.number3 %>
</p>

<p>
  <strong>Weight1:</strong>
  <%= @waybillorder.weight1 %>
</p>

<p>
  <strong>Weight2:</strong>
  <%= @waybillorder.weight2 %>
</p>

<p>
  <strong>Weight3:</strong>
  <%= @waybillorder.weight3 %>
</p>

<p>
  <strong>Volume1:</strong>
  <%= @waybillorder.volume1 %>
</p>

<p>
  <strong>Volume2:</strong>
  <%= @waybillorder.volume2 %>
</p>

<p>
  <strong>Volume3:</strong>
  <%= @waybillorder.volume3 %>
</p>

<p>
  <strong>Freightcost:</strong>
  <%= @waybillorder.freightCost %>
</p>

<p>
  <strong>Insurancecost:</strong>
  <%= @waybillorder.insuranceCost %>
</p>

<p>
  <strong>Packingcost:</strong>
  <%= @waybillorder.packingCost %>
</p>

<p>
  <strong>Delivercost:</strong>
  <%= @waybillorder.deliverCost %>
</p>

<p>
  <strong>Acceptcost:</strong>
  <%= @waybillorder.acceptCost %>
</p>

<p>
  <strong>Istransfer:</strong>
  <%= @waybillorder.isTransfer %>
</p>

<p>
  <strong>Transfercost:</strong>
  <%= @waybillorder.transferCost %>
</p>

<p>
  <strong>Transferdestintion:</strong>
  <%= @waybillorder.transferDestintion %>
</p>

<p>
  <strong>Othercost:</strong>
  <%= @waybillorder.otherCost %>
</p>

<p>
  <strong>Total:</strong>
  <%= @waybillorder.total %>
</p>

<p>
  <strong>Consignor:</strong>
  <%= @waybillorder.consignor_id %>
</p>

<p>
  <strong>Consignee:</strong>
  <%= @waybillorder.consignee_id %>
</p>

<p>
  <strong>Proxycollection:</strong>
  <%= @waybillorder.proxycollection %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @waybillorder.truck_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @waybillorder.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @waybillorder.user_id %>
</p>

<p>
  <strong>Paymentmenthod:</strong>
  <%= @waybillorder.paymentmenthod_id %>
</p>

<p>
  <strong>Line:</strong>
  <%= @waybillorder.line_id %>
</p>

<%= link_to 'Edit', edit_waybillorder_path(@waybillorder) %> |
<%= link_to 'Back', waybillorders_path %>
