<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>公司名称:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>联系方式:</strong>
  <%= @company.phone %>
</p>

<%= link_to '修改', edit_company_path(@company) %> |
<%= link_to '返回', managecenter_path %>
</div>