<%= form_for(@consignee) do |f| %>
  <% if @consignee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consignee.errors.count, "error") %> prohibited this consignee from being saved:</h2>

      <ul>
      <% @consignee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :姓名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :联系方式 %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :地址 %><br>
    <%= f.text_field :address %>
  </div>
    <div class="field">
      <%= f.label :目的地 %><br>
    <%= f.select  :line_id ,@lines.collect{
                                   |l| [l.destination,l.id]
                           } %>
    </div>
    <div class="field">
      <%= f.label :每公斤收费 %><br>
      <%= f.text_field :weight %>
    </div>
    <div class="field">
      <%= f.label :每立方收费 %><br>
      <%= f.text_field :volume %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
