<p id="notice"><%= notice %></p>

<h1>Listing Consignees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consignees.each do |consignee| %>
      <tr>
        <td><%= consignee.name %></td>
        <td><%= consignee.phone %></td>
        <td><%= consignee.company_id %></td>
        <td><%= link_to 'Show', consignee %></td>
        <td><%= link_to 'Edit', edit_consignee_path(consignee) %></td>
        <td><%= link_to 'Destroy', consignee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consignee', new_consignee_path %>
