<div class="container">
<p id="notice"><%= notice %></p>

<h1>收货人列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>电话</th>
      <th>每公斤运费</th>
      <th>每立方运费</th>
      <th>地址</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consignees.each do |consignee| %>
      <tr>
        <td><%= consignee.name %></td>
        <td><%= consignee.phone %></td>
        <td><%= consignee.weight %></td>
        <td><%= consignee.volume %></td>
        <td><%= consignee.address %></td>
        <td><%= link_to '查看', consignee %></td>
        <td><%= link_to '编辑', edit_consignee_path(consignee) %></td>
        <td><%= link_to '删除', consignee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '添加新收货人', new_consignee_path %>
</div>