<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consignor.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @consignor.phone %>
</p>

<%= link_to '编辑', edit_consignor_path(@consignor) %> |
<%= link_to '返回', consignors_path %>
</div>