<p id="notice"><%= notice %></p>

<h1>Listing Billwayorders</h1>

<table>
  <thead>
    <tr>
      <th>Ordernum</th>
      <th>Goodsname</th>
      <th>Number</th>
      <th>Weight</th>
      <th>Volume</th>
      <th>Freightcost</th>
      <th>Goodsprice</th>
      <th>Insurancecost</th>
      <th>Packingcost</th>
      <th>Delivercost</th>
      <th>Acceptcost</th>
      <th>Istransfer</th>
      <th>Transfercost</th>
      <th>Total</th>
      <th>Consignor</th>
      <th>Consignee</th>
      <th>Proxycollection</th>
      <th>Truck</th>
      <th>Company</th>
      <th>User</th>
      <th>Paymentmethod</th>
      <th>Line</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billwayorders.each do |billwayorder| %>
      <tr>
        <td><%= billwayorder.orderNum %></td>
        <td><%= billwayorder.goodsName %></td>
        <td><%= billwayorder.number %></td>
        <td><%= billwayorder.weight %></td>
        <td><%= billwayorder.volume %></td>
        <td><%= billwayorder.freightCost %></td>
        <td><%= billwayorder.goodsPrice %></td>
        <td><%= billwayorder.insuranceCost %></td>
        <td><%= billwayorder.packingCost %></td>
        <td><%= billwayorder.deliverCost %></td>
        <td><%= billwayorder.acceptCost %></td>
        <td><%= billwayorder.isTransfer %></td>
        <td><%= billwayorder.transferCost %></td>
        <td><%= billwayorder.total %></td>
        <td><%= billwayorder.consignor_id %></td>
        <td><%= billwayorder.consignee_id %></td>
        <td><%= billwayorder.proxycollection %></td>
        <td><%= billwayorder.truck_id %></td>
        <td><%= billwayorder.company_id %></td>
        <td><%= billwayorder.user_id %></td>
        <td><%= billwayorder.paymentmethod_id %></td>
        <td><%= billwayorder.line_id %></td>
        <td><%= link_to 'Show', billwayorder %></td>
        <td><%= link_to 'Edit', edit_billwayorder_path(billwayorder) %></td>
        <td><%= link_to 'Destroy', billwayorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billwayorder', new_billwayorder_path %>
