<p id="notice"><%= notice %></p>

<p>
  <strong>Ordernum:</strong>
  <%= @billwayorder.orderNum %>
</p>

<p>
  <strong>Goodsname:</strong>
  <%= @billwayorder.goodsName %>
</p>

<p>
  <strong>Number:</strong>
  <%= @billwayorder.number %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @billwayorder.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @billwayorder.volume %>
</p>

<p>
  <strong>Freightcost:</strong>
  <%= @billwayorder.freightCost %>
</p>

<p>
  <strong>Goodsprice:</strong>
  <%= @billwayorder.goodsPrice %>
</p>

<p>
  <strong>Insurancecost:</strong>
  <%= @billwayorder.insuranceCost %>
</p>

<p>
  <strong>Packingcost:</strong>
  <%= @billwayorder.packingCost %>
</p>

<p>
  <strong>Delivercost:</strong>
  <%= @billwayorder.deliverCost %>
</p>

<p>
  <strong>Acceptcost:</strong>
  <%= @billwayorder.acceptCost %>
</p>

<p>
  <strong>Istransfer:</strong>
  <%= @billwayorder.isTransfer %>
</p>

<p>
  <strong>Transfercost:</strong>
  <%= @billwayorder.transferCost %>
</p>

<p>
  <strong>Total:</strong>
  <%= @billwayorder.total %>
</p>

<p>
  <strong>Consignor:</strong>
  <%= @billwayorder.consignor_id %>
</p>

<p>
  <strong>Consignee:</strong>
  <%= @billwayorder.consignee_id %>
</p>

<p>
  <strong>Proxycollection:</strong>
  <%= @billwayorder.proxycollection %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @billwayorder.truck_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @billwayorder.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @billwayorder.user_id %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @billwayorder.paymentmethod_id %>
</p>

<p>
  <strong>Line:</strong>
  <%= @billwayorder.line_id %>
</p>

<%= link_to 'Edit', edit_billwayorder_path(@billwayorder) %> |
<%= link_to 'Back', billwayorders_path %>
